# MinIO S3 Storage Credentials
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# PostgreSQL Database Credentials (Airflow Metadata Backend)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Apache Airflow Configuration
AIRFLOW_USERNAME=admin
WINDOW=5